<form action="/companies/create" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="code" placeholder="Enter code" name="code" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="image" placeholder="Enter url" name="image" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="money" placeholder="Enter money" name="money" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="description" placeholder="Enter description" name="description" >
    </div>
    <input type="submit">
    
</form>